* {
  /* box-sizing: border-box; */
}

.car {
  width: 1000px;
  height: 230px;
  /* border: 1px solid gray; */
  border-bottom: 30px solid #6f68e3;
  position: relative;
  z-index: 0;
  margin-left: calc(100vw - 1040px);
}

.body {
  position: absolute;
  left: 280px;
  top: 0;
  bottom: 0;
  width: 720px;
  background-color: red;
}

.inner-body {
  position: relative;
  /* background-color: yellow; */
  height: 100%;
}

.windscreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-left: 200px solid transparent;
  background-color: white;
}

.front-window {
  position: absolute;
  top: 5px;
  left: 20px;
  border-left: 200px solid transparent;
  border-bottom: 100px solid white;
}

.front-window-extension {
  position: absolute;
  top: 5px;
  left: 220px;
  height: 100px;
  width: 90px;
  background-color: white;
  border-right: 10px solid #85929e;
}

.back-window {
  position: absolute;
  top: 5px;
  left: 320px;
  height: 100px;
  width: 125px;
  background-color: white;
  border-left: 10px solid #85929e;
  border-right: 20px solid #85929e;
}

.small-window {
  position: absolute;
  top: 10px;
  left: 475px;
  /* height: 100px;
  width: 150px; */
  border-bottom: 100px solid white;
  border-right: 170px solid transparent;
  /* background-color: green; */
  z-index: 30;
}

.windscreen-back {
  position: absolute;
  top: 0;
  right: 70px;
  height: 0;
  border-bottom: 100px solid red;
  border-right: 170px solid transparent;
  background-color: white;
}

.top-line {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  height: 10px;
  width: 280px;
  background-color: red;
  z-index: 50;
}

.center-line {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 10px;
  background-color: red;
  z-index: 50;
}

.trunk {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  border-bottom: 130px solid red;
  width: 70px;
  background-color: white;
}

.trunk-top {
  position: absolute;
  right: 0;
  bottom: 110px;
  top: 0;
  width: 70px;
  border-bottom: 30px solid red;
  border-right: 70px solid transparent;
  /* background-color: white; */
}

.bonnet {
  background-color: red;
  height: 100px;
  width: 280px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bonnet-top {
  position: absolute;
  top: 100px;
  left: 0;
  height: 0;
  /* width: 270px; */
  border-bottom: 30px solid red;
  border-left: 280px solid transparent;
}

.front-lamp {
  position: absolute;
  top: 150px;
  left: 0;
  width: 30px;
  height: 40px;
  background-color: yellow;
}

.front-lamp-extension {
  position: absolute;
  top: 150px;
  left: 30px;
  border-top: 40px solid yellow;
  border-right: 30px solid transparent;
}

.tire-distance {
  position: absolute;
  left: 90px;
  bottom: -75px;
  height: 140px;
  width: 140px;
  border: 5px solid white;
  border-radius: 50%;
  z-index: 10;
  background-color: deeppink;
}

.tire {
  height: 60px;
  width: 60px;
  border: 40px solid black;
  border-radius: 50%;
  z-index: 10;
  background-color: white;
}

.front-tire {
  /* position: absolute;
  left: 100px;
  bottom: -70px; */
}

.back-tire {
  left: 720px;
}
